<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共对象</title>
</head>
<body>
<th:block th:fragment="pageNav(pageInfo, prevText, nextText, prefix)">
<ol class="page-navigator">
    <li th:if="${pageInfo.hasPreviousPage}" class="prev">
        <!--@{/admin/article/{cid}(cid=${post.cid})}-->
        <a th:href="@{/{prefix}/{prePage}(prefix=${prefix},prePage=${pageInfo.prePage})}" th:text="${prevText}"></a>
    </li>

    <li th:each="navIndex : ${pageInfo.navigatepageNums}" th:class="${navIndex == pageInfo.pageNum}?'current':_">
        <a th:href="@{'/page/'+${navIndex}}" th:text="${navIndex}"></a>
    </li>

    <li th:if="${pageInfo.hasNextPage}" class="next">
        <a th:href="@{/{prefix}/{nextPage}(prefix=${prefix},nextPage=${pageInfo.nextPage})}" th:text="${nextText}"></a>
    </li>
</ol>
</th:block>

<th:block th:fragment="pageAdminNav(pageInfo)">
<div class="clearfix"></div>
<ul class="pagination m-b-5 pull-right">
    <li th:if="${pageInfo.hasPreviousPage}">
        <a th:href="'?page='+${pageInfo.prePage}" aria-label="Previous">
            <i class="fa fa-angle-left"></i>&nbsp;上一页
        </a>
    </li>

    <li th:each="nav : ${pageInfo.navigatepageNums}" th:class="${nav == pageInfo.pageNum}?'active':_">
        <a th:href="'?page='+${nav}" th:text="${nav}"></a>
    </li>

    <li th:if="${pageInfo.hasNextPage}">
        <a th:href="'?page='+${pageInfo.nextPage}" aria-label="Next">
            下一页&nbsp;<i class="fa fa-angle-right"></i>
        </a>
    </li>
    <li><span th:text="'共'+${pageInfo.pages}+'页'"></span></li>
</ul>
</th:block>

<th:block th:fragment="common(type)">
    <th:block th:if="${enableCdn} == 'true'">
        <th:block th:switch="${type}">
            <th:block th:case="'install_head'">
                <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
                <link href="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet">
            </th:block>
            <th:block th:case="'html5_respond'">
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            </th:block>
            <th:block th:case="'install_foot'">
                <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
                <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
                <script src="//cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.min.js"></script>
                <script src="//cdn.bootcss.com/jquery-validate/1.15.1/localization/messages_zh.min.js"></script>
                <script src="//cdn.bootcss.com/jquery-steps/1.1.0/jquery.steps.min.js"></script>
            </th:block>
            <th:block th:case="'article_edit_head'">
                <link href="//cdn.bootcss.com/multi-select/0.9.12/css/multi-select.min.css" rel="stylesheet"/>
                <link href="//cdn.bootcss.com/select2/3.4.8/select2.min.css" rel="stylesheet"/>
                <link href="/plugins/mditor/css/mditor.min.css" rel="stylesheet"/>
                <link href="//cdn.bootcss.com/summernote/0.8.2/summernote.css" rel="stylesheet">
                <link href="//cdn.bootcss.com/dropzone/4.3.0/min/dropzone.min.css" rel="stylesheet">
            </th:block>
            <th:block th:case="'article_edit_foot'">
                <script src="/plugins/mditor/js/mditor.min.js"></script>
                <script src="//cdn.bootcss.com/wysihtml5/0.3.0/wysihtml5.min.js"></script>
                <script src="//cdn.bootcss.com/summernote/0.8.2/summernote.min.js"></script>
                <script src="//cdn.bootcss.com/summernote/0.8.2/lang/summernote-zh-CN.min.js"></script>
                <script src="//cdn.bootcss.com/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
                <script src="//cdn.bootcss.com/select2/3.4.8/select2.min.js"></script>
                <script src="//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js"></script>
                <script src="//cdn.bootcss.com/dropzone/4.3.0/min/dropzone.min.js"></script>
                <script src="//cdn.bootcss.com/to-markdown/3.1.0/to-markdown.min.js"></script>
            </th:block>
            <th:block th:case="'attach_head'">
                <link href="//cdn.bootcss.com/dropzone/4.3.0/min/dropzone.min.css" rel="stylesheet">
            </th:block>
            <th:block th:case="'attach_foot'">
                <script src="//cdn.bootcss.com/dropzone/4.3.0/min/dropzone.min.js"></script>
                <script src="//cdn.bootcss.com/clipboard.js/1.6.0/clipboard.min.js"></script>
            </th:block>
            <th:block th:case="'profile_foot'">
                <script src="//cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.min.js"></script>
                <script src="//cdn.bootcss.com/jquery-validate/1.15.1/localization/messages_zh.min.js"></script>
            </th:block>
            <th:block th:case="'toggles'">
                <script src="//cdn.bootcss.com/jquery-toggles/2.0.4/toggles.min.js"></script>
            </th:block>
            <th:block th:case="'jquery'">
                <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
            </th:block>
            <th:block th:case="'login_head'">
                <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
                <link href="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet">
            </th:block>
            <th:block th:case="'login_foot'">
                <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
                <script src="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
            </th:block>
            <th:block th:case="'header'">
                <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
                <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                <link href="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet">
            </th:block>
            <th:block th:case="'footer'">
                <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
                <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:unless="${enableCdn} == 'true'">
        <th:block th:switch="${type}">
            <th:block th:case="'install_head'">
                <link href="/plugins/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
                      type="text/css"/>
                <link href="/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet">
            </th:block>
            <th:block th:case="'html5_respond'">
                <script src="/plugins/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="/plugins/respond.js/1.3.0/respond.min.js"></script>
            </th:block>
            <th:block th:case="'install_foot'">
                <script src="/plugins/jquery/3.2.1/jquery.min.js"></script>
                <script src="/plugins/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
                <script src="/plugins/jquery-validate/1.15.1/jquery.validate.min.js"></script>
                <script src="/plugins/jquery-validate/1.15.1/localization/messages_zh.min.js"></script>
                <script src="/plugins/jquery-steps/1.1.0/jquery.steps.min.js"></script>
            </th:block>
            <th:block th:case="'login_head'">
                <link href="/plugins/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                <link href="/plugins/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
                <link href="/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet">
            </th:block>
            <th:block th:case="'login_foot'">
                <script src="/plugins/jquery/3.2.1/jquery.min.js"></script>
                <script src="/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
            </th:block>
            <th:block th:case="'header'">
                <link href="/plugins/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
                <link href="/plugins/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                <link href="/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet">
            </th:block>
            <th:block th:case="'footer'">
                <script src="/plugins/jquery/3.2.1/jquery.min.js"></script>
                <script src="/plugins/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
            </th:block>
            <th:block th:case="'article_edit_head'">
                <link href="/plugins/multi-select/0.9.12/css/multi-select.min.css" rel="stylesheet"/>
                <link href="/plugins/select2/3.4.8/select2.min.css" rel="stylesheet"/>
                <link href="/plugins/mditor/css/mditor.min.css" rel="stylesheet"/>
                <link href="/plugins/summernote/0.8.2/summernote.css" rel="stylesheet">
                <link href="/plugins/dropzone/4.3.0/min/dropzone.min.css" rel="stylesheet">
            </th:block>
            <th:block th:case="'article_edit_foot'">
                <script src="/plugins/mditor/js/mditor.min.js"></script>
                <script src="/plugins/wysihtml5/0.3.0/wysihtml5.min.js"></script>
                <script src="/plugins/summernote/0.8.2/summernote.min.js"></script>
                <script src="/plugins/summernote/0.8.2/lang/summernote-zh-CN.min.js"></script>
                <script src="/plugins/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
                <script src="/plugins/select2/3.4.8/select2.min.js"></script>
                <script src="/plugins/jquery-toggles/2.0.4/toggles.min.js"></script>
                <script src="/plugins/dropzone/4.3.0/min/dropzone.min.js"></script>
                <script src="/plugins/to-markdown/3.1.0/to-markdown.min.js"></script>
            </th:block>
            <th:block th:case="'attach_head'">
                <link href="/plugins/dropzone/4.3.0/min/dropzone.min.css" rel="stylesheet">
            </th:block>
            <th:block th:case="'attach_foot'">
                <script src="/plugins/dropzone/4.3.0/min/dropzone.min.js"></script>
                <script src="/plugins/clipboard.js/1.6.0/clipboard.min.js"></script>
            </th:block>
            <th:block th:case="'profile_foot'">
                <script src="/plugins/jquery-validate/1.15.1/jquery.validate.min.js"></script>
                <script src="/plugins/jquery-validate/1.15.1/localization/messages_zh.min.js"></script>
            </th:block>
            <th:block th:case="'toggles'">
                <script src="/plugins/jquery-toggles/2.0.4/toggles.min.js"></script>
            </th:block>
            <th:block th:case="'jquery'">
                <script src="/plugins/jquery/3.2.1/jquery.min.js"></script>
            </th:block>
        </th:block>
    </th:block>
</th:block>

</body>
</html>